*{
    overflow: hidden;
}
.colunaDireita{
    position: absolute;
    width: 734px;
    height: 1080px;
    left: 1186px;
}
.colunaEsquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 12px;
    overflow-y: scroll !important;
    position: absolute;
    width: 1186px;
    height: 1439px;
}
.paginaColunaEsquerda{
    position: static;
    width: 926px;
    height: min-content; 
    order: 1;
    flex-grow: 0;
    margin: 20px 0px;
}

.tituloColunaEsquerda{
    display: contents;
    position: relative;
    width: max-content;
    height: 119px;
    left: 26px;
    top: 18px;
    margin: 20px 0px;
}

.grupoTitulo{
    /*position: absolute;*/
    width: max-content;
    display: block;
    position: absolute;
    left: 10%;

}
.textoTituloColunaEsquerda{
    position: relative;
    /*width: 580px;
    height: 105px;
    left: 201.29px;
    top: 18px;*/
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 109px;
    color: #000000;
}

.decoracaoTitulo{
    position: relative;
    width: auto;
    height: 20px;
    top: 99px;
    background: rgba(255, 169, 0, 0.2);
    border-radius: 50px;
}
.setaBody{
    width: 70px;
    height: 75px;
    border-radius: 0px 0px 0px 40px;
    border-color: transparent transparent #000 #000 !important;
    border: 5px solid #000;
}
.tabela{
    position: absolute;
    width: 926px;
    height: 908px;
    left: 130px;
    top: 206px;
    display: flex;
    flex-direction: column;
}
.separadorTabela{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: max-content;
    padding-top: 20px;
}
.grupoData{
    width: max-content;
    display: block;
    position: relative;
    /**left: 10%;**/
}
.decoracaoData{
    position: relative;
    width: auto;
    height: 20px;
    top: 62px;
    background: rgba(36, 161, 156, 0.2);
    border-radius: 50px;
}
.textoData{
    position: relative;
    height:76px;
    font-family: KoHo;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 52px;

    color: #000000;
}
.decoracaoSeparador{
    /*display: inline;*/
    position: relative;
    width: 725px;
    height: 32px;
    top: 15px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.circuloDecoracaoSeparador{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 675px;
    background: #FFFFFF;
    border: 5px solid #000000;
    border-radius: 50px;
}
.barraDecoracaoSeparador{
    position: absolute;
    width: 655px;
    height: 15px;
    top: 12px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}
.SubTabela{
    position: relative;
    width: 525px;
    height: min-content;
    left: 79px;
    top: 61px;
    height: min-content;
}
.Entrada{
    display: flex;
    flex-direction: row;   
}
.Tempo{
    width: max-content;
    display: block;
    position: relative;
}
.decoracaoTempo1{
    position: relative;
    width: auto;
    height: 15px;
    top: 45px;
    background: rgba(0, 155, 149, 0.2);
    border-radius: 50px;
}
.decoracaoTempo2{
    position: relative;
    width: auto;
    height: 15px;
    top: 45px;
    background: rgba(0, 94, 90, 0.4);
    border-radius: 50px;
}

.textoTempo{
    position: relative;
    height: 43px;
    font-family: KoHo;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 52px;
    color: #000000;
}
.Info{
    width: 75%;
    margin-inline: 20px;
}
.decoracaoInfo1{
    width: 397px;
    height: 25px;
    background: rgba(53, 92, 175, 0.6);
    border: 1px solid rgba(53, 92, 175, 0.0); 
    border-radius: 0px 50px 50px 100px;
    z-index:5;
    position: absolute
}
.decoracaoInfo1{
    width: 397px;
    height: 25px;
    background: rgba(53, 92, 175, 0.6);
    border: 1px solid rgba(53, 92, 175, 0.0); 
    border-radius: 0px 50px 50px 100px;
    position: absolute
}
.decoracaoInfo2{
    width: 397px;
    height: 25px;
    background: rgba(53, 92, 175, 0.6);
    border: 1px solid rgba(53, 92, 175, 0.0); 
    border-radius: 0px 50px 50px 100px;
    position: absolute
}
.textoInfo{
    width: 100%;
    height: min-content;
    font-family: KoHo;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    color: #000000;
}